.claim-grid-wrapper {
  display: flex;
  justify-content: center;
}

.claim-grid {
  display: grid;
  grid-template-columns: 180px 20px 200px;
  row-gap: 14px;
  align-items: center;
  text-align: right;
  font-weight: 600;
}

.claim-value {
  text-align: left;
  width: fit-content;
  margin-left: 10px;
}
